@import "tailwindcss";

/* =========================================
   ANIMASI KUSTOM UNTUK HALAMAN PERTAMA DIBUKA
   ========================================= */

/* 1. Kelas Utama untuk memanggil animasi */
.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
  opacity: 0;
  /* Menyembunyikan elemen sebelum animasi dimulai */
}

.animate-fade-in-right {
  animation: fadeInRight 1s ease-out forwards;
  opacity: 0;
}

/* 2. Kelas Delay (Jeda) agar munculnya bergantian */
.delay-100 {
  animation-delay: 0.1s;
}

.delay-300 {
  animation-delay: 0.3s;
}

.delay-500 {
  animation-delay: 0.5s;
}

/* 3. Definisi Pergerakan Animasi (Keyframes) */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
    /* Mulai dari posisi bawah (turun 40px) */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* Berakhir di posisi asli */
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
    /* Mulai dari posisi samping kanan (geser 50px) */
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    /* Berakhir di posisi asli */
  }
}

/* Kelas untuk animasi memudar pelan (tanpa gerakan) */
.animate-fade-in {
  animation: fadeIn 1.5s ease-out forwards;
  opacity: 0;
}

/* Keyframes untuk fadeIn murni */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    /* Transparansi akhir akan diatur oleh style Tailwind nanti */
  }
}

/* Kelas baru untuk titik-titik sebelah kiri */
.animate-fade-in-left {
  animation: fadeInLeft 1.5s ease-out forwards;
  opacity: 0;
}

/* Rute pergerakan dari kiri ke kanan */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
    /* Mulai dari posisi luar kiri (minus) */
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Kelas untuk animasi meluncur turun dari atas (khusus Navbar) */
.animate-slide-down {
  animation: slideDown 0.8s ease-out forwards;
  opacity: 0;
}

/* Rute pergerakan dari atas ke bawah */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    /* Mulai dari luar layar atas */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* Berakhir di posisi asli */
  }
}